@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  height: 90vh;
  height: 90vh;
  background: linear-gradient(178.1deg, #0a37ab 19.12%, rgb(19 75 159 / 89%) 50.4%, rgb(0 86 255 / 89%) 108.94%);
  position: relative;
  top: 0px;
  position: relative;
  top: 0px;
}

.logoh1 {
  font-size: 2rem;
  transition: 0.15s ease-in-out;
}

.navbar-collapse {
  margin: 13px 10px;
}

.nav-item {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.nav-link:hover {
  color: rgb(196 194 194) !important;
}

.welcome {
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-size: 63px;
}

.welcomedesc {
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-weight: Medium;
  width: 53vw;
  font-size: 29px;
}

/* Wave start*/
.custom-shape-divider-bottom-1640966291 {
  position: absolute;
  bottom: -63px;
  left: -1px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1640966291 svg {
  position: relative;
  display: block;
  width: calc(106% + 1.3px);
  height: 138px;
}

.custom-shape-divider-bottom-1640966291 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1640970012 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1640970012 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1640970012 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1643471356 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1643471356 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 87px;
}

.wave {
  position: absolute;
  bottom: 0;
}

.custom-shape-divider-bottom-1643471356 .shape-fill {
  fill: #ffffff;
}

/* Wave finish */

/* Responsive */
@media (max-width: 768px) {
  .welcome {
    font-weight: bolder;
  }

  .welcomedesc {
    width: 100%;
    font-size: 2rem;
    width: 53vw;
  }

  .welcomeheading {
    width: 93vw;
  }

  .rightside {
    margin: 0 -68px;
  }
}

.gotoprices {
  margin-left: 1.5rem;
  color: rgb(250, 169, 128);
  font-size: 2.1rem;
  text-decoration: none;
}

.gotoprices:hover {
  text-decoration: underline;
  color: rgb(255, 191, 157);
}

#prices {
  margin-top: 1rem;
}

/* Crypto price card */

.crypto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  font-family: Inter;
}

.crypto-card {
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 200px;
}

.crypto-card h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  width: 365px;
}

.card-footer {
  background-color: transparent;
  font-size: 0.65em;
  color: #446;
  margin: auto;
}

.crypto-title {
  display: flex;
}

/* Responsive */

@media (max-width: 600px) {
  .crypto-container {
    flex-direction: column;
    align-items: center;
  }

  .crypto-card {
    width: 90%;
  }
}

/* Additional Styles */

.navbar-brand{
  transition: 0.15s ease-in-out;
}
.pricesh1{
  text-align: center;  margin-bottom: 1rem;
}

.cardtitleimg{
  height: 32px ; 
  width: 32px;
}

.cardtitlestrong{
  margin: auto;
}
.cryptopricetext{
  margin: auto; margin-bottom: 1rem;
}

.preloader{
  height: 70px;
  width: 70px;
}